# Don't upload the config!
Bootcamp3/server/config/config.js

# Don't upload the node modules
Bootcamp3/node_modules

# LaTeX temp files
Report/Report.aux
Report/Report.log
Report/Report.synctex.gz
Report/Report.toc
